<div class="sidebar-wrapper">
    <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation"
            aria-label="Main navigation" data-accordion="false" id="navigation">
            <li class="nav-item"> <a href="/" class="nav-link"> <i class="nav-icon bi bi-speedometer2"></i>
                    <p>Dashboard</p>
                </a> </li>
            <li class="nav-item"> <a href="/channels" class="nav-link"> <i class="nav-icon bi bi-columns-gap"></i>
                    <p>Canales</p>
                </a> </li>
            <li class="nav-item"> <a href="/business" class="nav-link"> <i class="nav-icon bi bi-columns-gap"></i>
                    <p>Empresas</p>
                </a> </li>
            <li class="nav-item"> <a href="/bots" class="nav-link"> <i class="nav-icon bi bi-robot"></i>
                    <p>Bots</p>
                </a> </li>
            <li class="nav-item"> <a href="/conversaciones" class="nav-link"> <i class="nav-icon bi bi-chat-dots"></i>
                    <p>Conversaciones</p>
                </a> </li> <!-- Pedidos -->
            <li class="nav-item"> <a href="/pedidos" class="nav-link"> <i class="nav-icon bi bi-cart3"></i>
                    <p>贸rdenes</p>
                </a> </li> <!-- Clientes -->
            <li class="nav-item"> <a href="/usuarios" class="nav-link"> <i class="nav-icon bi bi-people"></i>
                    <p>Clientes</p>
                </a> </li> <!-- Productos -->
            <li class="nav-item"> <a href="/products" class="nav-link"> <i class="nav-icon bi bi-box-seam"></i>
                    <p>Productos</p>
                </a> </li> <!-- Marketing -->
            <li class="nav-item"> <a href="/marketing" class="nav-link"> <i class="nav-icon bi bi-megaphone"></i>
                    <p>Marketing</p>
                </a> </li> <!-- Configuraci贸n general -->
            <li class="nav-item has-treeview"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-gear"></i>
                    <p> Configuraci贸n <i class="right bi bi-caret-down-fill"></i> </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"> <a href="/configuracion/perfil" class="nav-link"> <i
                                class="bi bi-person nav-icon"></i>
                            <p>Perfil</p>
                        </a> </li>
                    <li class="nav-item"> <a href="/configuracion/roles" class="nav-link"> <i
                                class="bi bi-shield-lock nav-icon"></i>
                            <p>Roles y Permisos</p>
                        </a> </li>
                    <li class="nav-item"> <a href="/configuracion/preferencias" class="nav-link"> <i
                                class="bi bi-sliders nav-icon"></i>
                            <p>Preferencias</p>
                        </a> </li>
                </ul>
            </li> <!-- Salir -->
            <li class="nav-item has-treeview"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-columns-gap"></i>
                    <p> Canales <i class="right bi bi-chevron-down"></i> </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"> <a href="/canales/ecommerce" class="nav-link"> <i
                                class="bi bi-shop nav-icon"></i>
                            <p>Ecommerce</p>
                        </a> </li>
                    <li class="nav-item"> <a href="/canales/whatsapp" class="nav-link"> <i
                                class="bi bi-whatsapp nav-icon"></i>
                            <p>WhatsApp</p>
                        </a> </li>
                    <li class="nav-item"> <a href="/canales/configuracion" class="nav-link"> <i
                                class="bi bi-gear nav-icon"></i>
                            <p>Configuraci贸n de Canales</p>
                        </a> </li>
                </ul>
            </li>
        </ul>
        <!--end::Sidebar Menu-->
    </nav>
</div>